body
  overflow-x: hidden
  overflow-y: hidden
  +media($mobile)
    overflow-y: auto


#main-containter
  +outer-container
  position: relative

p
  font-family: 'PT Sans Narrow', sans-serif
  font-size: em(18px)

h2
  text-transform: uppercase
  letter-spacing: .05em
  font-size: em(30px)
  font-family: 'Lato'
  margin-top: 3em
  margin-bottom: 0

hr
  margin: .5em auto
  width: 15%

@import 'header'
@import 'about'
@import 'skills'
@import 'footer'