#about {
  @include outer-container();
  // background: #16a085;
  h2 {
    margin: 0;
    padding: 2em 0 .5em 0;
  }
  span {
    @include row();
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .05em;
    font-size: em(20px);
    p {
    @include fill-parent;
    }
  }
  img {
    @include span-columns(3);
    margin-top: em(-50px);
    // margin-bottom: em(-50px);
  }
  p {
    @include span-columns(9);
    @include omega;
  }
}