#about {
  background: #16a085;
  box-sizing: border-box;
  span {
    @include row();
    padding-top: em(70px);
    background-color: red;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .05em;
    h2 {
      
    }
    p {
      // @include fill_parent;
      margin: 0;
      background-color: yellow;
    }
  }
  img {
    @include size(em(200px));
    margin: em(5px) auto;
    display: block;
  }
  #about-paragraphs {
    @include row();
    p {
      @include span-columns(10);
      @include shift(1);

      background: white;
    }
  }
}