#contact-page { 
  @include span-columns(12);
  text-align: center;
  min-height: 100vh;
  background-color: #AB4B2A;
  color: #FFF;
  #contact-links {
    @include span-columns(8);
    @include shift(2);
    margin-top: 3%;
    a {
      font-size: 3em;
      color: white;
      margin: em(5px);
      display: inline-block;
      @include size(100px);
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.2);
      @include media($mobile) {
        display: block;
        margin: em(5px) auto;
      }
      &:hover {
        color: #AB4B2A;
        background: white;
        }
      i {
        margin: 25%;
      }
    }
  }
}