header {
  text-align: center;
  background: url(/assets/img/2.jpg) center center;
  background-size: cover;
  color: #E0D839;
  hgroup {
    display: inline-block;
    margin: 5em auto;
    border: em(7px) solid #E0D839;
    background: rgba(50, 53, 53, 0.7);
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: em(50px);
    margin: 0 .05em;
  }
}

