#skills
  +outer-container
  text-align: center
  h2
    +row
    text-transform: uppercase
    letter-spacing: .05em
    font-size: em(30px)
    text-align: center
  h3
    +row
    font-size: em(15px)
  img 
    +size(em(100px))
    display: inline-block
    margin: 0 .5em