#skills-page {
  @include span-columns(12);
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: url(../img/parallaxbg.jpg) center center;
  #scene {
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
  }
  #frontend {
    margin-top: 10%;
    @include media($mobile) {
      margin-top: 50%;
    }
  }
  #backend {
    margin-left: 20%;
    @include media($mobile) {
      margin: auto;
    }
  }
}
