#skills-page {
  @include span-columns(12);
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: url(../img/parallaxbg.jpg) center center;
  #front-end {
    position: static;
    z-index: 5;
  }
  #backend {
    z-index: 4;
    position: static;
    margin-top: 10%;
    margin-left: 50%;
  }
}
