#skills-parallax
  // +span-columns(12)
  img
    max-width: 100%
  overflow: hidden
  position: relative
  min-height: 100vh
  max-width: 100%
  background: url(/assets/img/parallaxbg.jpg) center center
  #scene
    position: absolute
    top: 10%
    bottom: 10%
    right: 10%
    left: 10%
  #frontend
    margin-top: 10%
  #backend
    margin-left: 10%
