<div class="section">
  <section id="about">
    <span>
      <h2>about me</h2>
      <p>My name is Ahmed. I love food, fitness and techology.</p>
    </span>
    
    <img src="/assets/img/me.png">
    <div id="about-paragraphs">
      <p>I was born and raised in Egypt until 2007, when I relocated with my family to the United States.</p>
    
      <p>A couple of years back I wanted to create a website to raise awareness about working out and eating healthier so I ventured into web development and discovered my new passion.</p>

      <p>In 2014, I moved to the bay area and immersed myself in the community. I attended some meet-ups, read some books, I practiced through various web tutorials until I got accepted to Dev Bootcamp.</p>

      <p>DBC is a four-phase bootcamp spread out over 19 weeks. It was a very diverse and educationalatmosphere which helped me grow technically and personally. It was a life time experience.</p>

      <p>I learned plenty of different programming languages and frameworks. I learned about myself, how to work with teams, and most importantly that I can learn anything if I set my mind to it.</p>

      <p>Now I have a lot more tricks under my sleeves, I’m eager to continue learning and working on different projects.</p>
    </div>
    
   </section> 
</div>