<section id="about-page">
  <h2>about me</h2>
  <hr>
  <p>My name is Ahmed. I love food, fitness and techology.</p> 
  <img src="assets/img/me.png">
  <article>
    <p>
      I was born and raised in Egypt until 2007, when I relocated with my family to the United States. 
    </p>
    <p>
      During my college years, I found my love for Fitness, Bodybuilding, and healthy cooking.<br> 
      Around 2012 I started teaching myself how to build a simple website to raise awareness about exercising and eating healthier, and found something that interested me more … programming!
    </p>
    <p>
      In 2014, roughly two years later, I moved to the bay area and immersed myself in the community. I attended some meet-ups, read a few programming books, and practiced through various web tutorials until I got accepted to Dev Bootcamp.
    </p>


    <p>
      DBC is a four-phase program spread out over 19 weeks. During that time I worked over 1,000+ hours learning agile development processes and multiple skills such as how to implement programming languages into development frameworks, Git workflow, how to work well in team and independent settings, as well as how to be productive in a stressful, demanding, and time-constrictive work environments.
    </p>


    <p>
      Now I have a lot more tricks under my sleeves, and I’m eager to continue learning and working on different projects.
    </p>
  </article>
</section>