<footer id="contact-page" >
  <h2>Contact</h2>
  <hr>
  <p>I'm currently available for work. If you're interested in working with me get in touch and let’s grab a coffee.</p>
  <div id="contact-links">
    <a href="mailto:ahmed1500@gmail.com">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="https://www.linkedin.com/in/webahmed">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://www.facebook.com/Ahmed1500">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://github.com/WebAhmed">
      <i class="fa fa-github-alt"></i>
    </a>
    <a href="https://twitter.com/Z1Ahmed">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.google.com/+ahmedabdelaalweb">
      <i class="fa fa-google-plus"></i>
    </a>
  </div>
</footer>