<nav>
  <div id="logo">
    <a href="">HomeLogo</a>
  </div>
  <div id="links">
    <a href="/#homePage">
      <i class="fa fa-home fa-2x"></i>
      <div>Home</div>
    </a>
    <a href="/#aboutPage">
      <i class="fa fa-question-circle fa-2x"></i>
      <div>About</div>
    </a>
    <a href="/#skillsPage">
      <i class="fa fa-code fa-2x"></i>
      <div>Skills</div>
    </a>
    <a href="/#contactPage">
      <i class="fa fa-envelope fa-2x"></i>
      <div>Contact</div>
    </a>
    <a href="/blog">
      <i class="fa fa-book fa-2x"></i>
      <div>Blog</div>
    </a>
  </div>
</nav>
