<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainNavLinks">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ahmed Abdelaal</a>
    </div>
    <div class="collapse navbar-collapse pull-right text-center" id="MainNavLinks">
      <ul class="nav navbar-nav">
        <!-- Temporarily disabling the blog link -->
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span><i class="fa fa-book"></i></span>
            Blog<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/tech/">Tech</a></li>
            <li class="disabled"><a href="#">Fitness</a></li>
            <li class="disabled"><a href="#">Food</a></li> 
          </ul>
        </li> -->
        <li>
          <a href="/#about-me">
            <span><i class="fa fa-question-circle"></i></span>
            About
          </a>
        </li>
        <li>
          <a href="/#skills-section">
            <span><i class="fa fa-cog"></i></span>
            Skills
          </a>
        </li>
        <li>
          <a href="/#contact-links">
            <span><i class="fa fa-envelope"></i></span>
            Contact 
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>