<div>
  <h2>Skills page</h2>
  <ul>
    <li>Front-end:</li>
    <li><img src="assets/img/HTML5.png"></li>
    <li><img src="assets/img/css3.png"></li>
    <li><img src="assets/img/js.png"></li>
    <li><img src="assets/img/bootstrap.png"></li>
    <li><img src="assets/img/foundation.png"></li>
    <li><img src="assets/img/toughtbot.png"></li>
    <li>Back-end:</li>
    <li><img src="assets/img/ruby.png"></li>
    <li><img src="assets/img/rails.png"></li>
    <li><img src="assets/img/sinatra.png"></li>
    <li><img src="assets/img/SQLite.png"></li>
    <li><img src="assets/img/git.png"></li>
    <li><img src="assets/img/heroku.png"></li>
  </ul>
</div>