<div id="skills">
  <h2>Skills:</h2>
  <h3>Front-end:</h3>
  <a href="">
    <img src="assets/img/HTML5.png">
  </a>
  <a href="">
    <img src="assets/img/css3.png">
  </a>
  <a href="">
    <img src="assets/img/js.png">
  </a>
  <a href="">
    <img src="assets/img/bootstrap.png">
  </a>
  <a href="">
    <img src="assets/img/foundation.svg">
  </a>
  <a href="">
    <img src="assets/img/thoughtbot.png">
  </a>
  <h3>Back-end:</h3>
  <a href="">
    <img src="assets/img/ruby.png">
  </a>
  <a href="">
    <img src="assets/img/rails.png">
  </a>
  <a href="">
    <img src="assets/img/sinatra.png">
  </a>
  <a href="">
  </a>
  <a href="">
    <img src="assets/img/git.png">
  </a>
  <a href="">
    <img src="assets/img/heroku.png">
  </a>
</div>