// main nav
#site-nav {
  position:fixed;
  top:0px;
  left:0;
  right:0;
  height: 3em;;
  display:block;
  width: 100%;
  z-index: 999;
  #nav-links{
    float: right;
    a {
      font-size: em(18px);
      text-transform: uppercase;
      text-align: center;
      padding: .5em .7em;
      float: left;
      color:#C4BAB9;
      span {
        display: block;
      }
    }
  }
}