// main nav
#site-nav {
  position:fixed;
  top:0px;
  height: 3em;;
  display:block;
  width: 100%;
  margin-bottom: 2em;
    a {
    display: inline-block;
    text-transform: uppercase;
    margin: .3em;
    float: right;
    color:#fff;
    span {
      display: block;
    }
  }
}