<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include nav.html %}
    {{ content }}
    <!-- Jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="/assets/js/jquery.smartmenus.min.js"></script>

    <!-- SmartMenus jQuery Bootstrap Addon -->
    <script type="text/javascript" src="/assets/js/jquery.smartmenus.bootstrap.min.js"></script>

    <script type="text/javascript" src="/assets/js/functions.js"></script>     
  </body>
</html>
